/**** Colors *****/

// System colors
$color-primary: #212529;
$color-secondary: #313037;
$color-chosen: #84c491;

//Background colors
$color-background-active: #8D8E97;
$color-background-hover: #b3b3b3;
$color-background-secondary: #F3F3F3;

/**** Fonts *****/

// Font-family
$font-family-name: 'ShantellSansBold', sans-serif;
$font-family-text: 'ShantellSansRegular', sans-serif;